<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Market Data Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-center" style="background: black;color:green">
  <h1>Stock Market Data Analysis</h1>
</div>


  <div class="container">   
 <div class="col-sm-12">  
 <h3>Stock Prediction and Future TOp5 Stock Prediction </h3>
  <ul class="pagination">
    <li><a href="user.png">«</a></li>
    <li><a href="https://plot.ly/~maiti.t/107.embed">DOW30</a></li>
    <li><a href="https://plot.ly/~maiti.t/97.embed">Apple Stocks</a></li>
    <li><a href="https://plot.ly/~maiti.t/99.embed">AT-T</a></li>
    <li><a href="https://plot.ly/~maiti.t/101.embed">Bank Of America</a></li>
    <li><a href="https://plot.ly/~maiti.t/103.embed">Jhonson-Jhonson</a></li>
    <li><a href="https://plot.ly/~maiti.t/105.embed">Exon Mobile</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
 <div class="col-sm-12">  
<h3>Top 5 Stock EDA </h3>
  <ul class="pagination">
    <li><a href="user.png">«</a></li>
    <li><a href="https://plot.ly/~maiti.t/33.embed">DOW30</a></li>
    <li><a href="https://plot.ly/~maiti.t/92.embed">Apple Stocks</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
      <div class="col-sm-12">  
<h3> World Market Indicator </h3>
  <ul class="pagination">
    <li><a href="user.png">«</a></li>
    <li><a href="https://plot.ly/~maiti.t/94.embed">DOW30</a></li>
    <li><a href="https://plot.ly/~maiti.t/90.embed">Apple Stocks</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
            <div class="col-sm-12">  
<h3>K Means Clustering </h3>
  <ul class="pagination">
    <li><a href="user.png">«</a></li>
    <li><a href="https://plot.ly/~maiti.t/82/k-mean-clustering-of-ohlc/">DOW30</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
</div>


</body>
</html>
