<html>
<head><h1>Stock Prediction</h1>
</head>
<body>

<div>
<h1>DoW 30 </h1>
<div>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/107.embed"></iframe>
</div>


<h1>Future TOp5 Stock Prediction </h1>
<div>
<h1>Apple Stocks </h1>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/97.embed"></iframe>
</div>
<div>
<h1>AT&T</h1>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/99.embed"></iframe>
</div>
<div>
<h1>BankOf America</h1>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/101.embed"></iframe>
</div>
<div>
<h1>Jhonson& Jhonson</h1>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/103.embed"></iframe>
</div>
<div>
<h1>Exon Mobile</h1>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/105.embed"></iframe>
</div>

</div>
<div>
<h2>


 
https:
<h1>Top 5 Stock EDA </h1>

<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/33.embed"></iframe>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/92.embed"></iframe>



<div>
<h1> World Market Indicator </h1>
<div>
<h2> World Market Closing Price </h2>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/94.embed"></iframe>
<iframe width="1300" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~maiti.t/90.embed"></iframe>
</div>
<div>
<h2>World Market Normalized Data</h2>

</div>
</div>


<div>
<h1>K Means Clustering</h1>
<iframe seamless='seamless' width="1000" height="800" frameborder="0" scrolling="no"src="https://plot.ly/~maiti.t/82/k-mean-clustering-of-ohlc/"></iframe>
</div>

</body>
</html>